@font-face {
  src: url("../fonts/Museo Sans Cyrl 500.ttf");
  font-family: "Museo Sans Cyrl 500";
}

@font-face {
  src: url("../fonts/Museo Sans Cyrl 700.ttf");
  font-family: "Museo Sans Cyrl Bold";
}
